{% extends './campBossBase.html' %}
{% load static %}
{% block body %}

<style>
  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  table {
    margin: 20px;
    width: 60%; /* Adjust based on your preference */
    border-collapse: collapse;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Adds a light border to the bottom of each cell */
  }
  
  th {
    background-color: #f2f2f2; /* Adds a background color to the header */
  }
</style>

<div class="table-container">
  <h2>Bus Schedule</h2>
  <table>
    <thead>
      <tr>
        <th>Bus Number</th>
        <th>Camp</th>
        <th>Destination</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for i in a %}
      <tr>
        <td>{{ i.busno }}</td>
        <td>{{ i.campname }}</td>
        <td>{{ i.destination }}</td>
        <td>{{ i.time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
